html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
body { /* Body styles */
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    
    /* noise */
    background: 
    linear-gradient(326deg, rgba(27,3,41,1), rgba(26,55,76,1)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    width: 100%;
    background-color: #111;
}
* {
    box-sizing: border-box; /* Include padding and border in total width and height */
}
p {
    line-height: 1.2em;
}
header { /* Header styles */
    background-color: #111;
    color: #fff;
    padding: 50px 0 20px;
    text-align: center;
}
a { /* Link styles */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}
#nav-wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
nav { /* Navigation styles */
    display: flex;
    justify-content: space-around;
    background-color: rgba(22, 22, 22, 0.2);
    -webkit-backdrop-filter: blur(10px); /* Add blur effect for Safari */
    backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.7);
    /* variable padding */
    padding: 10px;
    font-size:calc(10px + 0.5vw);
    text-align: center;
    position: fixed; /* This is to ensure the nav bar stays at the top of the page */
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Add semi-transparent border */
}
nav a { /* Navigation link styles */
    position: relative;
    margin: 0 10px;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}
nav a::before { /* Navigation link underline */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 0;
    transition: width 0.3s ease-in-out;
}
nav a:hover::before { /* Navigation link hover styles */
    width: 100%;
}
.spacer { /* a div for spacing between body and header */
    background-color: #222;
    height: 10px;

}
.container {  /* Container styles */
    max-width: 1280px;
    margin: 20px auto;
    padding: 0, 20px;
}
.section-item { /* Portfolio item styles */
    background-color: rgba(22, 22, 22, 0.8);
    padding: 20px 20px 40px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.section-item img { /* Portfolio item image styles */
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.info-box { /* Info-box styles */
    display: none; /* Hide by default */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0); /* Center horizontally */
    background-color: #444;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.prog-languages-grid { /* Grid for programming languages */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* 2 columns each 200px wide min */
    /* gap: 50px; */
    align-items: center;
}
#proglanguages img { /* Image styles */
    max-width: 64px;
}
.prog-item { /* Programming item styles */
    display: flex;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    position: relative; /* position the info-box relative to this element */
    padding: 10px;
}
.prog-item:hover { /* Hover styles */
    cursor: pointer;
}
/* .prog-item:hover {
    border: 1px solid;
    border-image: linear-gradient(to right, #2aa, #a2a) 1;
    border-radius: 5px;
    cursor: pointer;
} */
.prog-item:hover .info-box { /* Show info-box when hovering the item */
    display: block;
}
.prog-item p { /* Text styles */
    margin-left: 10px;
}


#skills img { /* Image styles */
    max-width: 10%;
    /* align to the top*/
    align-self: flex-start;
    margin-top: 20px;
}
.skill-item { /* Skill item styles */
    display: flex;
    align-items: center;
    /* adding a pretty border */
    border: 1px solid #242424;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.skill-item:hover { /* Hover styles */
    border: 1px solid #333;
}
.skill-item p { /* Text styles */
    margin-left: 10px;
}
.skill-item img { /* Image styles */
    margin-right: 10px;
}
.skill-title { /* Skill title styles */
    font-size: 1.5em;
    margin: 20px 0;
}
.skill-description { /* Skill description styles */
    font-size: 1.2em;
    margin: 10px 0;
}
.skill-experience { /* Skill experience styles */
    font-size: 1.1em;
}
.skill-personal { /* Personal skill styles */
    font-size: 1em;
}


.lang-grid { /* Grid for languages */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 2 columns each 200px wide min */
    gap: 20px;
}
.lang-grid div { /* Language item styles */
    display: flex;
    align-items: center; /* Align vertically for each child */
}
.lang-grid img { /* Image styles */
    width: 30%;
    margin-right: 10px; /* Space between image and text */
}

.contact-grid { /* Grid for contact information */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 2 columns each 200px wide min */
    gap: 20px;
}
.contact-item {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 10px;
}
.contact-item img {
    width: 64px; /* Adjust the width of the image */
    margin-right: 10px; /* Space between image and text */
}
.contact-title {
    font-size: 1.2em; /* Adjust the font size */
}
.contact-info {
    font-size: 1em; /* Adjust the font size */
}


/* footer only when at the bottom */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    /* gradient transparent to black */
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.8));
    -webkit-backdrop-filter: blur(10px); /* Add blur effect for Safari */
    backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
    padding: 10px;
}